.navbar {
    width: 100%;
    height: 53px;
    background: linear-gradient(110deg, #0EF6CC 60%, #3A4f50 60%);
}
.respnav{
    display: none;
}


.repnav span{
    font-size: 16px;
    font-weight: 500;
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
    margin: 0;
}

.section {
    height: 100%;
    margin: 10px;
}

.left-nav {
    height: auto;
    width: 30%;
    background-color: #e6fcf8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-nav {
    height: auto;
    width: 68%;
    background-color: #e6fcf8;
    border-radius: 8px;
   
}
@media only screen and ( min-width: 600px ){
    #box{
        display: none;
    }
}

@media only screen and ( max-width: 600px ){

    .repnav{
        display: none;
    }
    .respnav{
        display: block;
    }
    .respnav .btn i{
       color: #3A4f50;
    }

    .left-nav{
        width: 100%;
        
    } 
    .right-nav {
        margin-top: 10px;
        width: 100%;
    }

    
    //res
    #box {
        display: block;
        position: fixed;
        z-index: 4;
        overflow: auto;
        top: 0px;
        left: -275px;
        width: 275px;
        opacity: 0;
        padding: 20px 0px;
        height: 100%;
        background-color: #f6f6f6;
        color: #343838;
        -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
        transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
      }
      #box.active {
        left: 0px;
        opacity: 1;
      }
      #items {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      #items .item {
        position: relative;
        cursor: pointer;
        font-size: 2em;
        padding: 15px 30px;
        -webkit-transition: all 250ms;
        transition: all 250ms;
      }
      #items .item:hover {
        padding: 15px 45px;
        background-color: rgba(52, 56, 56, 0.2);
      }
}
.profile-section {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
   
    justify-content: center;
    align-items: center;

}
.img-sec {
  
    display: inline-block; 
    position: relative; 
    width: 180px;
    height: 180px;
    overflow: hidden; 
    border-radius: 50%; 
    border: 3px solid #3A4f50 ;
   background-color: #0EF6CC;
    img{
        
        //     width: 100%;
        //     height: 100%;
         width: auto;
         height: 140%;
         object-fit: cover;
        
    }
}


.personal {
   // padding-top: 7px;
    color: #3A4f50;
    h4{
        font-family: Lucida ;
        font-weight: 600;
        letter-spacing: 2px;
    }
    p{
        font-family: Verdana;
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: 0rem;
    }
}

.address-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3A4f50;
    border-radius: 5px;
 

    .address {
        margin: 5px;
       color: #f4fefd;
        h5{
            font-family: Verdana;
            margin-bottom: 0;
            font-size: 16px;
            padding: 3px;
        }

        p{
            margin-top: 4px;
            margin-bottom: 0;
            font-family: Verdana;
            font-size: 12px;
        }
    }
}

.card-skil {
    border-radius: 5px;
    background-color: #1c3032;
}

.skil-section {
    display: flex;
    align-items: center;
    justify-content: center;
 .skil-pie {
     color: #f4fefd;

     h5 {
         font-size: 13px;
         font-family: Verdana;
         margin-bottom: 0;
     }
 }
}

.tech {
    font-size: 15px;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #dcf8f2;
}
  .pie {
    --p:14;
    --b:4px;
    --c: #0EF6CC;
    --w:42px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:11px;
    font-weight:bold;
    font-family:sans-serif;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .5s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
  @keyframes p {
    from{--p:0}
  }

.line {
    border: 1px solid #3A4f50;
}

.bar-chart {
    display: flex;
    align-items: center;
    justify-content: center;
   
    .bar {
        color: #f4fefd;
       

        h6{
            font-family: Verdana;
            font-size: 12px;
            margin-bottom: 0;
        }
       
    }
}

    .chart {
        width: 98%;
    }


.progress{
    height: auto;
 
}
.progress-bar {
    background-color: #0EF6CC;
    color: #3A4f50;
    width: auto;
    height: 6px;
}




// right nav css

.banner-section {
    // height: 36%;
    background: url(../../../assets/images/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px 8px 0 0;
    
    
}

@media only screen and ( max-width: 600px ){

    .banner-section {
        height: 140px;
        background: url(../../../assets/images/banner.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        
    }

}

.text-sec {
    margin-top: 15%;
}
.messages {
    position: relative;
   
}
.messages span {
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 10px;
    letter-spacing: 2px;
    color: #0EF6CC;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 3px;
  font-size: 28px;
  flex-wrap: wrap;
  font-weight: 700;
  position: relative;
  display: inline-block;
  background-color: #343838;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }



.banner-img {
    display: inline-block; 
    position: relative; 
    margin-top: 4%;
    height: 247px;
    overflow: hidden;
    img{
       
        width: 45%;
        height: auto;
      
    }
}
//experiance details
.exp-list {
    height: auto;
    
 
}

.exp-img{
    
    i{
        transition: 0.3s;
        font-size: 45px;
       
    }
}


.exp-list:hover i{
    transform: scale(1.5);
    color: #0EF6CC;
}

.exp-text {
    height: auto;
    color: #1c3032;

    p{
        margin-bottom: 0;
        font-size: 25px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-bottom: 0;
    }
    span{
        font-size: 12px;
        font-family:sans-serif;
        margin-bottom: 0;
        font-weight: 500;
    }
}

//develop details

.develop .col-md-3 {
    height: 235px;
    background-color: #1c3032;
    border-radius: 5px;
}
.card-header{
    padding: 0;
}
.devhead {
    height: 55px;
    background-color: #0EF6CC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.devhead h3 {
     padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #1c3032;
}
.content{
    color: #d2f9f2;
    p{
        text-align: justify;
        font-size: 13px;
        font-weight: 200;
        font-family: sans-serif;
        margin-bottom: 0;
        padding: 0;
    }
}
//perf

.pref {
    background-color: #b0ede39f;
    border-radius: 5px;
    height: auto;
}
.pref-head {
    color: #1c3032;
    p{
        font-size: 19px;
        font-weight: 500;
        font-family:cursive;
        margin-bottom: 0;
    }
    h3{
        font-size: 32px;
        font-weight: bold;
        font-family: sans-serif;
        margin-bottom: 0;
        color: #1c3032;
    }
}

.pref-cont p{
 color: #1c3032ba;
 font-size: 15px;
 font-family: sans-serif;
 text-align: justify;
 margin-bottom: 0;
}
.pref .h4 {
    margin-bottom: 0;
    font-size: 19px;
    font-family: monospace;
    color: #3A4f50;
}

//social media
.social-media {
    margin-top: 2%;
    height: auto;

    h5 {
        font-size: 33px;
    }
}
.media-sec{
    height: auto;
}
.media {
    width: 45px;
    height: 45px;
  
    color: #1c3032;
    i{
        transition: 0.3s;
    }
}
.media-sec button:hover i{
    transform: scale(1.5);
    color: #0EF6CC;
}

// fab buuton
@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px #3A4f50;
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 55px;
  height: 55px;
  background: #0EF6CC;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: #1c3032;
  line-height: 60px;
  text-align: center;
  font-size: 26px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px #3A4f50;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: #1c3032;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 20px;
}
.floating-container .float-element:nth-child(1) {
  background: #0EF6CC;
  box-shadow: 0 20px 20px -10px #3A4f50;
}
.floating-container .float-element:nth-child(2) {
  background: #0EF6CC;
  box-shadow: 0 20px 20px -10px #3A4f50;
}
.floating-container .float-element:nth-child(3) {
  background: #0EF6CC;
  box-shadow: 0 20px 20px -10px #3A4f50;
}

//about me

.about-me {
    height: auto;
    background-color: #d9ece89f;
    border-radius: 5px;
    margin-top: 3%;

    h3{
        margin-top: 1%;
        font-size: 26px;
        font-family: sans-serif;
        font-weight: bold;
        color: #1c3032;
        margin-bottom: 0;
    }
}
.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text{
    margin-top: 8%;
    h3{
       
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 600;
        color: #1c3032;
        margin-bottom: 0;
    }
    h4{
        
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 600;
        color: #2a4749bb;
        margin-bottom: 0;
    }
    i{
        font-size: 20px;
        padding-right: 2%;color: #07b393;
    }
    
    
}

//interest
.interest-res h3{
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;
    color: #1c3032;
}

.interest{
    padding-top: 3px;
    i{
        font-size: 30px;
        color: #07b393;
        text-align: end;
        padding-right: 10px;
    }
    h4{
        padding-top: 6%;
        font-size: 17px;
        font-family: sans-serif;
        font-weight: 600;
        text-align: center;
        color: #1c3032;
    }
}

//journey

.journey {
    //background-color: #d9ece89f ;
}
.journey-head h3{
    margin-top: 2%;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;
    color: #1c3032;
    margin-bottom: 0;
}
.journey-cont{
    i{
        padding-left: 15px;
        font-size: 32px;
        color: #07b393;
    }
   h3{
    margin-top: 2%;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #1c3032;
    margin-bottom: 0;
   }
   
}
.job-exp {
    margin-top: 2%;
    h3{
        margin-top: 2%;
        font-size: 18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: #1c3032;
        margin-bottom: 0;
    }
    h6{
       
        font-size: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: #1c3032;
        margin-bottom: 0;
        padding-right: 10px;
    }
    span{
        font-size: 14px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: #1c3032;
        margin-bottom: 0;
    }
    .list{
        font-size: 14px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: #1c3032;
        margin-bottom: 0;
    }
    p{
        font-size: 14px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: #1c3032;
        margin-bottom: 0;
    }
    .border{
        background:
       
            linear-gradient(#07b393, #07b393) bottom left / 150px 2px,
            linear-gradient(#07b393, #07b393) bottom left / 2px 100px,
            linear-gradient(#07b393, #07b393) top right / 150px 2px,
            linear-gradient(#07b393, #07b393) top right / 2px 100px;
        background-repeat: no-repeat;
        padding-left: 10%;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

//protfolio
.portfolio{
    margin-top: 5%;
    background-color: #d9ece89f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    h3{        
        margin-top: 1%;
        font-size: 28px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #1c3032;
        margin-bottom: 0;
    }
}

.portfolio .col-md-3{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 260px;
    border-radius: 30px;
    
    .card{
        // background-color: #07b393;
    }
    h5{
        padding-top: 2%;
        padding-left: 0%;
        
        font-size: 17px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: #dcf4f6;
        margin-bottom: 0;
    }
    h6{
        padding-left: 0%;        
        font-size: 14px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: #dcf4f6;
        margin-bottom: 0;
    }
    p{
        padding-left: 0%;
        margin-top: 0;
        font-size: 12px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        color: #dcf4f6;
        margin-bottom: 0;
    }
    
    i{
       margin-top: 5%;
        padding-left: 2%;
        font-size: 20px;
        color: #0EF6CC;
       

    }
}
.project-1{
    
    background: linear-gradient(-210deg, #3A4f50 30%, rgba(0, 0, 0, 0) 30%), url('../../../assets/images/online-shop.jpg') no-repeat ;
    background-size: 100% 100%;
       
 
}
.project-2{
    
    background: linear-gradient(-210deg, #3A4f50 30%, rgba(0, 0, 0, 0) 30%), url('../../../assets/images/qcwing.jpg') no-repeat ;
    background-size: 100% 100%;   
 
}
.project-3{
    
    background: linear-gradient(-210deg, #3A4f50 30%, rgba(0, 0, 0, 0) 30%), url('../../../assets/images/resume.jpg') no-repeat ;
    background-size: 100% 100%;   
 
}
.project-4{
    
    background: linear-gradient(-210deg, #3A4f50 30%, rgba(0, 0, 0, 0) 30%), url('../../../assets/images/pu.png') no-repeat ;
    background-size: 100% 100%;   
 
}
.project-5{
    
    background: linear-gradient(-210deg, #3A4f50 30%, rgba(0, 0, 0, 0) 30%), url('../../../assets/images/anj.png') no-repeat ;
    background-size: 100% 100%;   
 
}
.project-6{
    
    background: linear-gradient(-210deg, #3A4f50 30%, rgba(0, 0, 0, 0) 30%), url('../../../assets/images/nl.png') no-repeat ;
    background-size: 100% 100%;   
 
}
.project-7{
    
    background: linear-gradient(-210deg, #3A4f50 30%, rgba(0, 0, 0, 0) 30%), url('../../../assets/images/mi-erp.jpg') no-repeat ;
    background-size: 100% 100%;   
 
}
.card-header{
    border: transparent;
}
.card-footer{
    
    border: transparent;
    .btn{
        border-radius: 10px;
        border-color: #07b393;
        background-color: #3A4f50;
        font-size: 15px;
        font-weight: 600;
        color: #d2f9f2;
    } 
    .btn:hover{
        color: #3A4f50;
        border-color: #0EF6CC;
        background-color: #07b393;
        i{
            color: #3A4f50;
        }
    }   
}
//popup
.modal-header{
    h4{        
        font-size: 28px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #3A4f50;
        margin-bottom: 0;
    }
}

.modal-content{
    height: auto;
}

div.gallery {
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.2s;
  }
  
  div.gallery:hover {
    border: 3px solid #0EF6CC;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  div.desc {
      background-color: #3A4f50;
    padding: 15px;
    text-align: center;
    color: #0EF6CC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 30.99999%;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

//contect 

.contect{
    h3{
        margin-top: 1%;
        font-size: 28px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #1c3032;
        margin-bottom: 0;
    }
    form{
        height: 240px;
        
    }
    .sub{
        margin-top: 2%;
        border-color: #07b393;
        background-color: #0EF6CC;
        font-size: 15px;
        font-weight: 600;
        color: #3A4f50;
    } 
    .sub:hover{
        color: #0EF6CC;
        border-color: #0EF6CC;
        background-color: #07b393;
        i{
            color: #0EF6CC;
        }
    }   
}

.contect-det{
    padding-top: 3px;
    i{
        font-size: 30px;
        color: #07b393;
        text-align: end;
        padding-right: 10px;
    }
    h4{
        padding-top: 5%;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 600;
        text-align: center;
        color: #1c3032;
    }
}


@media only screen and ( min-width: 1200px ){
    .contect-det-res{
        display: none;
    }
}

//footer

footer{
    height: auto;
    background-color: #3A4f50;
    h4{
        padding-top: 2%;
        margin-top: 1%;
        font-size: 18px;
        font-family:sans-serif;
        font-weight: 400;
        color: #0EF6CC;
        margin-bottom: 0;
        padding-bottom: 1%;
        letter-spacing: 3px;
    }
    .copy{
        p{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #d2f9f2;
        }
    }
}

.tech-img{
    h3{
        margin-top: 1%;
        font-size: 24px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #0EF6CC;
        margin-bottom: 0;
    }
    p{
        padding-left: 5%;
        margin-top: 2%;
        font-size: 12px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        color: #0EF6CC;
        margin-bottom: 0;
    }
}


@media only screen and ( max-width: 600px ){

    .messages span { 
        margin-top: 0;
        font-size: 15px;
        border-radius: 5px;
    }

 .banner-section .col-md-6 {
     width: 50%;
 }

 .banner-img {
     
    margin-top: 4%;
    height: 127px;
    overflow: hidden;

    img{
       
        width: 63%;
        height: auto;
      
    }
}


.exp-list {
    height: auto;
   
}
.exp-list .col-lg-5{
   width: 40%;
   
}
.exp-list .col-lg-7{
    width: 60%;
    
 }
.exp-text {
    text-align: center;
}
.exp-img{
    margin-top: 3%;
}



.changetxt {
    margin-top: 0%;
}

 .pref-head h3{
     font-size: 28px;
 }

 .social-media {
    margin-top: 5%;
    height: auto;

    i {
        font-size: 16px;
    }
}


.about-text {
    word-wrap: break-word;
    .col-sm-4{
        width: 40%;
    }
    .col-sm-2{
        width: 5%;
    }
    .col-sm-5{
        width: 50%;
       
    }
}


.interest-res{

    .col-md-12{
        width: 100%;
    }
    .col-sm-3{
        width: 30%;
        .col-sm-4{
            width: 30%;
        }
       
    }
}
.interest{
    i{
        font-size: 24px;
        color: #07b393;
        
    }
    h4{
        padding-top: 40%;
        font-size: 14px;
        
    }
}

.contect-det{

    display: none;
    
}
.contect-det-res{
    i{
        font-size: 20px;
        color: #07b393;
        text-align: end;
        padding-right: 10px;
    }
    h4{
       
        padding-top: 5%;
        font-size: 13px;
        font-family: sans-serif;
        font-weight: 600;
        text-align: center;
        color: #1c3032;
    }

    .col-md-12{
        width: 100%;
    }
    .col-sm-4{
        width: 30%;
          
    }
    .col-sm-8{
        width: 70%;
    }
}
footer{
    .col-lg-10{
        width: 100%;
    }
    h4{
        padding-top: 2%;
        margin-top: 1%;
        font-size: 16px;
        font-family:sans-serif;
        font-weight: 400;
        color: #0EF6CC;
        margin-bottom: 0;
        padding-bottom: 3%;
    }
}
.tech-img{
    .col-sm-2{
        width: 15%;
    }
    h3{
        margin-top: 1%;
        font-size: 16px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        color: #0EF6CC;
        margin-bottom: 0;
    }
    p{
        padding-left: 5%;
        margin-top: 2%;
        font-size: 11px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        color: #0EF6CC;
        margin-bottom: 0;
    }
}


}
